@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4f45e4;
  --purple: #000015;
  --purple01: #2c2c54;
  --white: #fff;
  --light-purple: #9f5eff;
  --yellow: #eab500;
  --green: #21d266;
  --red: #e05240;
  --blue: #0ebaeb;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  background-color: transparent !important;
  transition: background-color 0s 600000s, color 0s 600000s;
}

.container {
  max-width: 1500px;
  margin: 0px auto;
  padding: 0px 3rem;
}

.loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: var(--primary);
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

.productCard .productCardText {
  transition: transform 0.3s ease-out;
  transform: translateY(-0.2rem);
}

.productCard:hover .productCardText {
  transform: translateY(-1rem);
}
.ribbon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--yellow);
  padding: 8px 70px 8px 4px;
  text-align: center;
  display: flex;
  gap: 4px;
  align-items: center;
  z-index: 1;
  clip-path: polygon(75% 0%, 57% 49%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
}

.ribbon::before,
.ribbon::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  border-style: solid;
  z-index: -1;
}

/* admin classes */
.admin-container {
  max-width: 1500px;
  margin: 0px auto;
  padding: 0px 3rem;
  background-color: var(--purple);
  color: var(--white);
  min-height: 100vh;
}
.MuiAccordion-root::before {
  opacity: 0.3;
}
.admin-card {
  background-color: var(--purple01) !important;
  color: var(--white) !important;
}
.drawer-paper {
  width: 16%;
  background-color: var(--purple) !important;
  color: var(--white) !important;
  border-right: 0.1px solid #9e5eff61 !important;
}
.react-multi-carousel-track {
  margin-bottom: 16px !important;
}
.react-multiple-carousel__arrow--right {
  right: 0px;
  border-radius: 4px;
  height: 20px;
}
.react-multiple-carousel__arrow--left {
  left: 0px;
  border-radius: 4px;
  height: 20px;
}
.carousel-dots .react-multi-carousel-dot--active button {
  background-color: rgb(172, 171, 171) !important;
}

.carousel-dots .react-multi-carousel-dot button {
  padding: 6px !important;
  border: 1px solid rgb(172, 171, 171) !important;
}

@media (max-width: 600px) {
  .container {
    max-width: 100% !important;
    margin: 0px auto !important;
    padding: 0px 1rem !important;
  }
}
